
a,.tp-caption a.btn:hover {
	color: #67b0d1;
}
.top-nav-collapse {
	background: rgba(0, 54, 86, 0.9);
}

@media (max-width: 768px) {
  .navbar, .navbar-nav {
		background: rgba(0, 54, 86, 0.9) !important;
	}

	.navbar-nav a {
		color: #fff !important;
	}
}

.navbar-custom ul.nav ul.dropdown-menu li a:hover {
	color: #67b0d1;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    background-color: #67b0d1;
}

.widget-avatar .avatar:hover {
    border: 5px solid #67b0d1;
}

.bg-skin {
	background: #67b0d1;
}

form#contact-form input:focus,form#contact-form select:focus,form#contact-form textarea:focus {
	border-color: #67b0d1;
}

footer {
    background-color: rgba(0, 54, 86, 0.9);
}

.btn-skin-white {
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff !important;
  border-radius: 3px;
  font-size: 18px;
}

.btn-skin-dark {
	color: #fff;
	background-color: rgba(0, 54, 86, 0.9);
	border-radius: 3px;
	font-size: 18px;
  }
